*{
    margin: 0;
    padding: 0;
}

.navbar-container{
    color: white;
    margin-top: 20px;
    display: flex;
    font-size: 15px;
    margin-left: 20px;

}

.navbar-menu a{
    margin: 10px;
    text-decoration: none;
    color: black;
}

.navbar-menu{
    margin-left: 27em;
}



.navbar-container a{
    text-decoration: none;
    color: black;
    margin-right: 15px;
}